.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover{
    background: rgb(235, 225, 225);
}

.product-image {
    max-width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.5em;
    margin: 8px 0;
}

.product-price {
    color: green;
    font-size: 1.2em;
}

.product-description {
    font-size: 1em;
    color: #555;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
